@font-face {
  src: url("/fonts/AmaticSC-Regular.woff2") format("woff2");
  font-family: "AmaticSC";
  font-weight: 400;
}

@font-face {
  src: url("/fonts/AmaticSC-Bold.woff2") format("woff2");
  font-family: "AmaticSC";
  font-weight: 700;
}

@font-face {
  src: url("/fonts/Ubuntu-Medium.woff2") format("woff2");
  font-family: "Ubuntu";
  font-weight: 600;
}

@font-face {
  src: url("/fonts/Ubuntu-Regular.woff2") format("woff2");
  font-family: "Ubuntu";
  font-weight: 400;
}

@font-face {
  src: url("/fonts/Ubuntu-Italic.woff2") format("woff2");
  font-family: "Ubuntu";
  font-style: italic;
}
